body {
  color: #fff; }

.navbar {
  opacity: 0.8; }

#main-container {
  width: 80%;
  min-height: 300px; }

#exams-section {
  background: url("../img/background.jpg") no-repeat;
  min-height: 670px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  #exams-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 670px; }
  #exams-section .exams-inner {
    padding-top: 120px; }

#registration-section {
  background: url("../img/background.jpg") no-repeat;
  min-height: 670px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  #registration-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 670px; }
  #registration-section .registration-inner {
    padding-top: 120px; }

/*
#registration-cont{
  min-width: 200px;
  max-width: 500px;
}
*/
