body {
  color: #fff; }

.navbar {
  opacity: 0.8; }

section {
  background: url("../img/background.jpg") no-repeat;
  min-height: 670px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 670px; }

#main-container {
  width: 80%;
  min-height: 300px; }

.registration-inner {
  padding-top: 150px; }

.exams-inner {
  padding-top: 120px; }

#form-section {
  width: 300px;
  margin: 0 auto; }

.form-group {
  width: 255px; }

#submitBtn {
  width: 255px;
  margin: 0 auto; }

#submitBtn {
  width: 255px;
  margin: 0 auto; }

.login-inner {
  padding-top: 150px;
  margin-right: 0;
  margin-left: 0; }
