
#cont1{
  width: 80%;
  min-height: 400px;
  //background-color: #B3E8FF;

}
/*
#row1{
  min-height: 150px;
  background-color: #6FBAFF;
}
/*
.col{
  min-height: 130px;
  background-color: #258AFF;
}
*/
