$font-color: #fff;
$dark-overlay: rgba(0,0,0,0.7);

body{
  color: $font-color;
}

.navbar{
  opacity: 0.8;
}

section{
  background: url('../img/background.jpg') no-repeat;
  min-height: 670px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .dark-overlay{
    background-color: $dark-overlay;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 670px;
  }
}

#main-container{
  width: 80%;
  min-height: 300px;
}


.content-inner{
  padding-top: 150px;
}

.exams-inner{
  padding-top: 120px;
}

#form-section{
  width: 300px;
  margin: 0 auto;
}

.form-group{
  width: 255px;
}

#submitBtn,#loginBtn{
  width: 255px;
  margin: 0 auto;
}

.btn:hover{
  color: black;
}


.column-content-login{
  width: 250px;
  margin: 0 auto;
}

.log-btn{
  min-width: 250px;
  height: 60px;
  padding-top: 13px;
  font-size: 20px;
}

.reg-btn{
  min-width: 250px;
  height: 60px;
  padding-top: 13px;
  font-size: 20px;
}

//ACCOUNT PAGE
.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
